<h2>Danh sách truyện</h2>

@if (stories.length === 0) {
  <p>Không có truyện nào</p>
} @else {

  @for (story of stories; track story.title) {

    <div class="story-card">
      <h3>
        {{ story.title }}

        @if (story.views > 90000) {
          <span style="color:red">🔥 HOT</span>
        }
      </h3>

      <img [src]="story.image" width="120" />

      <p>Năm phát hành: {{ story.year }}</p>
      <p>Thể loại: {{ story.genre }}</p>
      <p>Lượt xem: {{ story.views }}</p>

    </div>

  }

}